#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1px 1836px #fff, 1009px 932px #fff, 1498px 1037px #fff,
    1553px 761px #fff, 693px 110px #fff, 1433px 1401px #fff, 1429px 1523px #fff,
    1467px 170px #fff, 1709px 1226px #fff, 819px 271px #fff, 1096px 1592px #fff,
    1135px 1227px #fff, 1744px 177px #fff, 663px 949px #fff, 1575px 615px #fff,
    753px 1394px #fff, 319px 557px #fff, 1276px 1338px #fff, 1488px 262px #fff,
    1181px 488px #fff, 1386px 1413px #fff, 828px 812px #fff, 1311px 413px #fff,
    1122px 508px #fff, 1198px 1773px #fff, 1461px 514px #fff, 85px 640px #fff,
    1896px 1282px #fff, 1045px 648px #fff, 956px 113px #fff, 84px 16px #fff,
    1398px 1305px #fff, 138px 1398px #fff, 1673px 1938px #fff, 475px 1060px #fff,
    196px 936px #fff, 781px 1768px #fff, 1134px 1323px #fff, 653px 1959px #fff,
    831px 264px #fff, 1433px 1160px #fff, 1813px 1896px #fff, 1975px 1837px #fff,
    1436px 1547px #fff, 1938px 778px #fff, 607px 452px #fff, 786px 1483px #fff,
    20px 72px #fff, 788px 856px #fff, 2000px 1569px #fff, 790px 1069px #fff,
    803px 1565px #fff, 955px 637px #fff, 1899px 1857px #fff, 701px 45px #fff,
    993px 1112px #fff, 167px 892px #fff, 1160px 1224px #fff, 1314px 1116px #fff,
    878px 850px #fff, 1335px 427px #fff, 1046px 110px #fff, 639px 18px #fff,
    1407px 738px #fff, 1422px 755px #fff, 246px 685px #fff, 1788px 1033px #fff,
    502px 580px #fff, 852px 56px #fff, 1993px 571px #fff, 330px 1252px #fff,
    946px 1937px #fff, 1672px 371px #fff, 470px 1518px #fff, 868px 418px #fff,
    1930px 1872px #fff, 747px 397px #fff, 904px 939px #fff, 706px 945px #fff,
    1044px 1649px #fff, 835px 1326px #fff, 677px 1721px #fff, 1340px 482px #fff,
    81px 1744px #fff, 749px 1830px #fff, 1945px 852px #fff, 780px 981px #fff,
    1505px 288px #fff, 686px 167px #fff, 670px 261px #fff, 351px 1643px #fff,
    1253px 603px #fff, 1469px 175px #fff, 1796px 25px #fff, 256px 519px #fff,
    1821px 1683px #fff, 1597px 1294px #fff, 188px 789px #fff, 1464px 1743px #fff,
    1234px 1644px #fff, 1147px 746px #fff, 1252px 936px #fff, 166px 381px #fff,
    405px 143px #fff, 727px 1240px #fff, 194px 1647px #fff, 138px 1375px #fff,
    917px 293px #fff, 339px 1038px #fff, 703px 395px #fff, 1277px 869px #fff,
    1555px 358px #fff, 508px 924px #fff, 97px 1540px #fff, 284px 147px #fff,
    1006px 1987px #fff, 232px 130px #fff, 197px 2px #fff, 1200px 278px #fff,
    1432px 994px #fff, 1785px 1938px #fff, 565px 1803px #fff, 739px 755px #fff,
    338px 1788px #fff, 624px 1379px #fff, 1669px 1477px #fff, 36px 1869px #fff,
    746px 1072px #fff, 520px 1744px #fff, 1281px 1111px #fff, 1564px 1208px #fff,
    550px 1285px #fff, 565px 1567px #fff, 1809px 1800px #fff, 1973px 1628px #fff,
    419px 78px #fff, 392px 369px #fff, 1854px 1190px #fff, 155px 58px #fff,
    372px 511px #fff, 1659px 1216px #fff, 44px 1731px #fff, 1382px 419px #fff,
    894px 97px #fff, 1932px 1076px #fff, 1449px 1577px #fff, 174px 1393px #fff,
    343px 1396px #fff, 1289px 1255px #fff, 1968px 338px #fff, 477px 415px #fff,
    1670px 647px #fff, 1883px 314px #fff, 1103px 533px #fff, 1157px 110px #fff,
    339px 91px #fff, 361px 1254px #fff, 1726px 1944px #fff, 1424px 1070px #fff,
    442px 509px #fff, 1364px 142px #fff, 1418px 1691px #fff, 4px 734px #fff,
    373px 1421px #fff, 164px 196px #fff, 606px 1221px #fff, 1358px 1536px #fff,
    814px 1475px #fff, 139px 1890px #fff, 72px 1036px #fff, 695px 1216px #fff,
    1704px 1855px #fff, 1988px 1532px #fff, 239px 3px #fff, 814px 1819px #fff,
    1463px 243px #fff, 110px 708px #fff, 1227px 1824px #fff, 1494px 132px #fff,
    497px 58px #fff, 200px 935px #fff, 800px 1391px #fff, 728px 209px #fff,
    174px 1353px #fff, 59px 1361px #fff, 1476px 1177px #fff, 1316px 1432px #fff,
    1924px 834px #fff, 393px 509px #fff, 1099px 603px #fff, 970px 116px #fff,
    1919px 1323px #fff, 582px 863px #fff, 1385px 579px #fff, 1017px 1299px #fff,
    1834px 1298px #fff, 499px 957px #fff, 1889px 999px #fff, 738px 194px #fff,
    509px 80px #fff, 1114px 767px #fff, 1184px 1378px #fff, 312px 345px #fff,
    1329px 425px #fff, 1203px 1624px #fff, 648px 1001px #fff, 27px 1611px #fff,
    1028px 1521px #fff, 1370px 1616px #fff, 1210px 741px #fff,
    1062px 1412px #fff, 480px 1377px #fff, 992px 423px #fff, 927px 1166px #fff,
    1335px 291px #fff, 1191px 123px #fff, 728px 1113px #fff, 1456px 996px #fff,
    391px 125px #fff, 138px 860px #fff, 227px 791px #fff, 756px 35px #fff,
    518px 394px #fff, 1388px 1646px #fff, 1611px 410px #fff, 1039px 609px #fff,
    1665px 670px #fff, 628px 437px #fff, 1716px 604px #fff, 1236px 1180px #fff,
    486px 867px #fff, 207px 1004px #fff, 543px 979px #fff, 957px 987px #fff,
    260px 53px #fff, 868px 458px #fff, 1635px 1677px #fff, 269px 1041px #fff,
    1880px 777px #fff, 783px 588px #fff, 878px 1651px #fff, 933px 303px #fff,
    1534px 849px #fff, 1089px 1481px #fff, 351px 1022px #fff, 1523px 519px #fff,
    512px 571px #fff, 1366px 1562px #fff, 475px 463px #fff, 793px 972px #fff,
    519px 893px #fff, 1660px 719px #fff, 385px 691px #fff, 1609px 79px #fff,
    1467px 980px #fff, 1238px 1391px #fff, 35px 1218px #fff, 1822px 1917px #fff,
    512px 1920px #fff, 124px 1911px #fff, 1356px 1454px #fff, 874px 1118px #fff,
    130px 1101px #fff, 876px 1664px #fff, 1212px 1193px #fff, 667px 306px #fff,
    1822px 1748px #fff, 1761px 1392px #fff, 424px 1134px #fff, 1266px 110px #fff,
    1737px 1750px #fff, 1062px 339px #fff, 1353px 1681px #fff, 1654px 194px #fff,
    113px 685px #fff, 720px 1834px #fff, 1959px 1131px #fff, 1363px 1529px #fff,
    1774px 1334px #fff, 1865px 399px #fff, 1572px 86px #fff, 622px 1715px #fff,
    1865px 1576px #fff, 592px 834px #fff, 1570px 63px #fff, 1329px 1702px #fff,
    711px 96px #fff, 1681px 4px #fff, 1855px 1419px #fff, 1405px 1855px #fff,
    1232px 8px #fff, 1203px 539px #fff, 431px 1964px #fff, 134px 1636px #fff,
    1943px 550px #fff, 1415px 1587px #fff, 914px 241px #fff, 1191px 860px #fff,
    1929px 1692px #fff, 1479px 86px #fff, 240px 1910px #fff, 1547px 601px #fff,
    304px 1489px #fff, 1792px 1360px #fff, 226px 422px #fff, 332px 1743px #fff,
    279px 580px #fff, 656px 1555px #fff, 142px 995px #fff, 93px 414px #fff,
    1024px 1497px #fff, 428px 522px #fff, 276px 1012px #fff, 1053px 1413px #fff,
    203px 1202px #fff, 790px 605px #fff, 409px 1427px #fff, 967px 1775px #fff,
    1534px 1063px #fff, 176px 908px #fff, 1459px 1994px #fff, 881px 923px #fff,
    306px 265px #fff, 907px 111px #fff, 1587px 1755px #fff, 1255px 333px #fff,
    1356px 42px #fff, 810px 1599px #fff, 1822px 1404px #fff, 1079px 1726px #fff,
    926px 1194px #fff, 1525px 1455px #fff, 708px 1821px #fff, 885px 180px #fff,
    1765px 645px #fff, 1964px 758px #fff, 442px 1761px #fff, 210px 1859px #fff,
    497px 1951px #fff, 127px 792px #fff, 1481px 154px #fff, 1807px 1627px #fff,
    768px 900px #fff, 1934px 808px #fff, 1154px 692px #fff, 1970px 1809px #fff,
    1161px 631px #fff, 65px 1841px #fff, 1268px 30px #fff, 1865px 586px #fff,
    1238px 1625px #fff, 651px 1052px #fff, 1721px 508px #fff, 1257px 642px #fff,
    521px 1511px #fff, 1992px 1998px #fff, 1986px 677px #fff, 1074px 1136px #fff,
    328px 873px #fff, 967px 1737px #fff, 1544px 1646px #fff, 203px 401px #fff,
    121px 489px #fff, 1980px 880px #fff, 1237px 109px #fff, 1390px 681px #fff,
    963px 391px #fff, 1784px 1131px #fff, 1717px 351px #fff, 1178px 485px #fff,
    1567px 1206px #fff, 1325px 913px #fff, 1701px 508px #fff, 1804px 1376px #fff,
    81px 132px #fff, 466px 658px #fff, 1066px 357px #fff, 1545px 28px #fff,
    246px 804px #fff, 860px 1374px #fff, 1729px 623px #fff, 1921px 1466px #fff,
    67px 286px #fff, 960px 341px #fff, 1355px 1941px #fff, 593px 81px #fff,
    124px 231px #fff, 992px 1714px #fff, 196px 1667px #fff, 1915px 916px #fff,
    272px 361px #fff, 1393px 1290px #fff, 943px 1699px #fff, 743px 1326px #fff,
    436px 229px #fff, 1371px 900px #fff, 1446px 1275px #fff, 35px 1137px #fff,
    223px 1323px #fff, 1767px 381px #fff, 1532px 1007px #fff, 2000px 1110px #fff,
    1727px 1243px #fff, 867px 307px #fff, 893px 1665px #fff, 1215px 765px #fff,
    25px 73px #fff, 32px 422px #fff, 218px 945px #fff, 1595px 1744px #fff,
    1085px 520px #fff, 1284px 910px #fff, 424px 652px #fff, 1524px 555px #fff,
    516px 344px #fff, 1950px 740px #fff, 983px 910px #fff, 1448px 935px #fff,
    592px 1925px #fff, 1784px 947px #fff, 845px 211px #fff, 219px 1062px #fff,
    281px 1536px #fff, 307px 1623px #fff, 288px 1953px #fff, 265px 769px #fff,
    1695px 1946px #fff, 785px 90px #fff, 1315px 808px #fff, 1591px 1721px #fff,
    494px 1631px #fff, 1339px 278px #fff, 1924px 384px #fff, 1819px 225px #fff,
    1559px 1552px #fff, 1604px 1684px #fff, 832px 1438px #fff, 876px 326px #fff,
    1082px 1709px #fff, 1207px 788px #fff, 886px 545px #fff, 1540px 712px #fff,
    271px 814px #fff, 1458px 374px #fff, 218px 902px #fff, 343px 1193px #fff,
    297px 845px #fff, 251px 105px #fff, 1015px 673px #fff, 1378px 1942px #fff,
    248px 1865px #fff, 127px 481px #fff, 1578px 1448px #fff, 1132px 369px #fff,
    863px 213px #fff, 1636px 343px #fff, 365px 795px #fff, 1045px 715px #fff,
    1858px 527px #fff, 1753px 857px #fff, 459px 904px #fff, 644px 802px #fff,
    743px 1080px #fff, 127px 206px #fff, 1777px 922px #fff, 1655px 1831px #fff,
    1083px 1040px #fff, 798px 779px #fff, 1167px 1864px #fff, 1140px 1026px #fff,
    300px 1507px #fff, 702px 1904px #fff, 1644px 826px #fff, 292px 539px #fff,
    1300px 1571px #fff, 1699px 1367px #fff, 362px 23px #fff, 1313px 1281px #fff,
    409px 572px #fff, 211px 234px #fff, 987px 1608px #fff, 323px 279px #fff,
    1243px 779px #fff, 1552px 1660px #fff, 370px 749px #fff, 1213px 1654px #fff,
    355px 1737px #fff, 827px 1807px #fff, 255px 34px #fff, 284px 1362px #fff,
    560px 769px #fff, 382px 610px #fff, 1503px 247px #fff, 187px 1677px #fff,
    1239px 921px #fff, 932px 1210px #fff, 1896px 547px #fff, 773px 450px #fff,
    1954px 2px #fff, 196px 637px #fff, 1172px 1324px #fff, 1853px 1980px #fff,
    307px 1201px #fff, 570px 673px #fff, 640px 789px #fff, 1380px 771px #fff,
    1481px 1233px #fff, 1482px 448px #fff, 1563px 99px #fff, 1761px 1356px #fff,
    1265px 16px #fff, 131px 3px #fff, 1008px 15px #fff, 1173px 794px #fff,
    1916px 727px #fff, 1402px 1064px #fff, 353px 1974px #fff, 1798px 1544px #fff,
    451px 1354px #fff, 440px 292px #fff, 228px 438px #fff, 428px 885px #fff,
    1536px 1792px #fff, 1497px 839px #fff, 1064px 736px #fff, 637px 156px #fff,
    351px 846px #fff, 1838px 1451px #fff, 1773px 708px #fff, 636px 1838px #fff,
    1171px 198px #fff, 1903px 1114px #fff, 701px 791px #fff, 1340px 1589px #fff,
    1573px 604px #fff, 35px 331px #fff, 1665px 503px #fff, 1769px 1163px #fff,
    1516px 652px #fff, 1836px 45px #fff, 186px 1630px #fff, 1304px 1144px #fff,
    1497px 1547px #fff, 685px 614px #fff, 1192px 295px #fff, 1297px 127px #fff,
    1501px 476px #fff, 388px 1545px #fff, 1480px 1216px #fff, 1350px 1097px #fff,
    1419px 1435px #fff, 166px 588px #fff, 1477px 122px #fff, 934px 1159px #fff,
    117px 381px #fff, 1613px 1264px #fff, 390px 815px #fff, 586px 1609px #fff,
    1440px 995px #fff, 1714px 1313px #fff, 1141px 211px #fff, 1502px 1438px #fff,
    455px 119px #fff, 1282px 1227px #fff, 1013px 1342px #fff, 1894px 88px #fff,
    1032px 1999px #fff, 1629px 1774px #fff, 371px 1405px #fff, 112px 768px #fff,
    1430px 693px #fff, 748px 275px #fff, 1911px 1564px #fff, 824px 1197px #fff,
    537px 1037px #fff, 1392px 469px #fff, 1672px 795px #fff, 1891px 1981px #fff,
    958px 544px #fff, 4px 552px #fff, 932px 463px #fff, 531px 1108px #fff,
    759px 913px #fff, 1673px 1473px #fff, 710px 1623px #fff, 909px 484px #fff,
    645px 1798px #fff, 404px 284px #fff, 1191px 1480px #fff, 426px 383px #fff,
    895px 1370px #fff, 919px 1263px #fff, 480px 1454px #fff, 220px 374px #fff,
    909px 1827px #fff, 97px 1818px #fff, 318px 1004px #fff, 1079px 570px #fff,
    336px 251px #fff, 1946px 1503px #fff, 984px 1121px #fff, 336px 389px #fff,
    760px 1605px #fff, 7px 739px #fff, 226px 413px #fff, 1445px 1559px #fff,
    1092px 63px #fff, 484px 357px #fff, 809px 166px #fff, 1211px 618px #fff,
    1932px 894px #fff, 369px 906px #fff, 1419px 1676px #fff, 465px 1832px #fff,
    29px 908px #fff, 50px 1509px #fff, 423px 1567px #fff, 375px 1911px #fff,
    1295px 130px #fff, 418px 637px #fff, 206px 1865px #fff, 186px 1059px #fff,
    1866px 868px #fff, 749px 1696px #fff, 474px 1864px #fff, 863px 325px #fff,
    379px 583px #fff, 1527px 485px #fff, 1108px 50px #fff, 1899px 1661px #fff,
    24px 747px #fff, 415px 678px #fff, 1085px 1635px #fff, 897px 1898px #fff,
    1678px 181px #fff, 1729px 23px #fff, 1373px 1934px #fff, 1677px 1938px #fff,
    421px 1042px #fff, 833px 1065px #fff, 1918px 742px #fff, 154px 605px #fff,
    1485px 1012px #fff, 215px 840px #fff, 92px 420px #fff, 709px 50px #fff,
    1527px 1695px #fff, 652px 61px #fff, 727px 1007px #fff, 1200px 905px #fff,
    772px 424px #fff, 1338px 1676px #fff, 924px 917px #fff, 980px 1742px #fff,
    1826px 1993px #fff, 1518px 1296px #fff, 355px 153px #fff, 309px 686px #fff,
    840px 1657px #fff, 1543px 1095px #fff, 81px 1012px #fff, 508px 204px #fff,
    1804px 434px #fff, 274px 896px #fff, 1982px 1875px #fff, 661px 1468px #fff,
    1745px 1860px #fff, 100px 1898px #fff, 1752px 180px #fff, 1940px 603px #fff,
    1494px 938px #fff, 435px 1108px #fff, 1377px 268px #fff, 1859px 1626px #fff,
    1082px 597px #fff, 980px 725px #fff, 1009px 156px #fff, 338px 383px #fff,
    378px 1851px #fff, 226px 1645px #fff, 1882px 230px #fff, 240px 1227px #fff,
    1275px 1624px #fff, 1983px 1471px #fff, 1814px 244px #fff,
    1403px 1184px #fff, 699px 1109px #fff, 66px 1800px #fff, 1432px 1343px #fff,
    1812px 1530px #fff, 214px 251px #fff, 1729px 40px #fff, 1134px 1355px #fff,
    1952px 618px #fff, 1709px 75px #fff, 1888px 227px #fff, 82px 717px #fff,
    1638px 235px #fff, 524px 1675px #fff, 1050px 927px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  width: 10px;
  height: 10px;
  background: transparent;
  box-shadow: 1px 1836px #fff, 1009px 932px #fff, 1498px 1037px #fff,
    1553px 761px #fff, 693px 110px #fff, 1433px 1401px #fff, 1429px 1523px #fff,
    1467px 170px #fff, 1709px 1226px #fff, 819px 271px #fff, 1096px 1592px #fff,
    1135px 1227px #fff, 1744px 177px #fff, 663px 949px #fff, 1575px 615px #fff,
    753px 1394px #fff, 319px 557px #fff, 1276px 1338px #fff, 1488px 262px #fff,
    1181px 488px #fff, 1386px 1413px #fff, 828px 812px #fff, 1311px 413px #fff,
    1122px 508px #fff, 1198px 1773px #fff, 1461px 514px #fff, 85px 640px #fff,
    1896px 1282px #fff, 1045px 648px #fff, 956px 113px #fff, 84px 16px #fff,
    1398px 1305px #fff, 138px 1398px #fff, 1673px 1938px #fff, 475px 1060px #fff,
    196px 936px #fff, 781px 1768px #fff, 1134px 1323px #fff, 653px 1959px #fff,
    831px 264px #fff, 1433px 1160px #fff, 1813px 1896px #fff, 1975px 1837px #fff,
    1436px 1547px #fff, 1938px 778px #fff, 607px 452px #fff, 786px 1483px #fff,
    20px 72px #fff, 788px 856px #fff, 2000px 1569px #fff, 790px 1069px #fff,
    803px 1565px #fff, 955px 637px #fff, 1899px 1857px #fff, 701px 45px #fff,
    993px 1112px #fff, 167px 892px #fff, 1160px 1224px #fff, 1314px 1116px #fff,
    878px 850px #fff, 1335px 427px #fff, 1046px 110px #fff, 639px 18px #fff,
    1407px 738px #fff, 1422px 755px #fff, 246px 685px #fff, 1788px 1033px #fff,
    502px 580px #fff, 852px 56px #fff, 1993px 571px #fff, 330px 1252px #fff,
    946px 1937px #fff, 1672px 371px #fff, 470px 1518px #fff, 868px 418px #fff,
    1930px 1872px #fff, 747px 397px #fff, 904px 939px #fff, 706px 945px #fff,
    1044px 1649px #fff, 835px 1326px #fff, 677px 1721px #fff, 1340px 482px #fff,
    81px 1744px #fff, 749px 1830px #fff, 1945px 852px #fff, 780px 981px #fff,
    1505px 288px #fff, 686px 167px #fff, 670px 261px #fff, 351px 1643px #fff,
    1253px 603px #fff, 1469px 175px #fff, 1796px 25px #fff, 256px 519px #fff,
    1821px 1683px #fff, 1597px 1294px #fff, 188px 789px #fff, 1464px 1743px #fff,
    1234px 1644px #fff, 1147px 746px #fff, 1252px 936px #fff, 166px 381px #fff,
    405px 143px #fff, 727px 1240px #fff, 194px 1647px #fff, 138px 1375px #fff,
    917px 293px #fff, 339px 1038px #fff, 703px 395px #fff, 1277px 869px #fff,
    1555px 358px #fff, 508px 924px #fff, 97px 1540px #fff, 284px 147px #fff,
    1006px 1987px #fff, 232px 130px #fff, 197px 2px #fff, 1200px 278px #fff,
    1432px 994px #fff, 1785px 1938px #fff, 565px 1803px #fff, 739px 755px #fff,
    338px 1788px #fff, 624px 1379px #fff, 1669px 1477px #fff, 36px 1869px #fff,
    746px 1072px #fff, 520px 1744px #fff, 1281px 1111px #fff, 1564px 1208px #fff,
    550px 1285px #fff, 565px 1567px #fff, 1809px 1800px #fff, 1973px 1628px #fff,
    419px 78px #fff, 392px 369px #fff, 1854px 1190px #fff, 155px 58px #fff,
    372px 511px #fff, 1659px 1216px #fff, 44px 1731px #fff, 1382px 419px #fff,
    894px 97px #fff, 1932px 1076px #fff, 1449px 1577px #fff, 174px 1393px #fff,
    343px 1396px #fff, 1289px 1255px #fff, 1968px 338px #fff, 477px 415px #fff,
    1670px 647px #fff, 1883px 314px #fff, 1103px 533px #fff, 1157px 110px #fff,
    339px 91px #fff, 361px 1254px #fff, 1726px 1944px #fff, 1424px 1070px #fff,
    442px 509px #fff, 1364px 142px #fff, 1418px 1691px #fff, 4px 734px #fff,
    373px 1421px #fff, 164px 196px #fff, 606px 1221px #fff, 1358px 1536px #fff,
    814px 1475px #fff, 139px 1890px #fff, 72px 1036px #fff, 695px 1216px #fff,
    1704px 1855px #fff, 1988px 1532px #fff, 239px 3px #fff, 814px 1819px #fff,
    1463px 243px #fff, 110px 708px #fff, 1227px 1824px #fff, 1494px 132px #fff,
    497px 58px #fff, 200px 935px #fff, 800px 1391px #fff, 728px 209px #fff,
    174px 1353px #fff, 59px 1361px #fff, 1476px 1177px #fff, 1316px 1432px #fff,
    1924px 834px #fff, 393px 509px #fff, 1099px 603px #fff, 970px 116px #fff,
    1919px 1323px #fff, 582px 863px #fff, 1385px 579px #fff, 1017px 1299px #fff,
    1834px 1298px #fff, 499px 957px #fff, 1889px 999px #fff, 738px 194px #fff,
    509px 80px #fff, 1114px 767px #fff, 1184px 1378px #fff, 312px 345px #fff,
    1329px 425px #fff, 1203px 1624px #fff, 648px 1001px #fff, 27px 1611px #fff,
    1028px 1521px #fff, 1370px 1616px #fff, 1210px 741px #fff,
    1062px 1412px #fff, 480px 1377px #fff, 992px 423px #fff, 927px 1166px #fff,
    1335px 291px #fff, 1191px 123px #fff, 728px 1113px #fff, 1456px 996px #fff,
    391px 125px #fff, 138px 860px #fff, 227px 791px #fff, 756px 35px #fff,
    518px 394px #fff, 1388px 1646px #fff, 1611px 410px #fff, 1039px 609px #fff,
    1665px 670px #fff, 628px 437px #fff, 1716px 604px #fff, 1236px 1180px #fff,
    486px 867px #fff, 207px 1004px #fff, 543px 979px #fff, 957px 987px #fff,
    260px 53px #fff, 868px 458px #fff, 1635px 1677px #fff, 269px 1041px #fff,
    1880px 777px #fff, 783px 588px #fff, 878px 1651px #fff, 933px 303px #fff,
    1534px 849px #fff, 1089px 1481px #fff, 351px 1022px #fff, 1523px 519px #fff,
    512px 571px #fff, 1366px 1562px #fff, 475px 463px #fff, 793px 972px #fff,
    519px 893px #fff, 1660px 719px #fff, 385px 691px #fff, 1609px 79px #fff,
    1467px 980px #fff, 1238px 1391px #fff, 35px 1218px #fff, 1822px 1917px #fff,
    512px 1920px #fff, 124px 1911px #fff, 1356px 1454px #fff, 874px 1118px #fff,
    130px 1101px #fff, 876px 1664px #fff, 1212px 1193px #fff, 667px 306px #fff,
    1822px 1748px #fff, 1761px 1392px #fff, 424px 1134px #fff, 1266px 110px #fff,
    1737px 1750px #fff, 1062px 339px #fff, 1353px 1681px #fff, 1654px 194px #fff,
    113px 685px #fff, 720px 1834px #fff, 1959px 1131px #fff, 1363px 1529px #fff,
    1774px 1334px #fff, 1865px 399px #fff, 1572px 86px #fff, 622px 1715px #fff,
    1865px 1576px #fff, 592px 834px #fff, 1570px 63px #fff, 1329px 1702px #fff,
    711px 96px #fff, 1681px 4px #fff, 1855px 1419px #fff, 1405px 1855px #fff,
    1232px 8px #fff, 1203px 539px #fff, 431px 1964px #fff, 134px 1636px #fff,
    1943px 550px #fff, 1415px 1587px #fff, 914px 241px #fff, 1191px 860px #fff,
    1929px 1692px #fff, 1479px 86px #fff, 240px 1910px #fff, 1547px 601px #fff,
    304px 1489px #fff, 1792px 1360px #fff, 226px 422px #fff, 332px 1743px #fff,
    279px 580px #fff, 656px 1555px #fff, 142px 995px #fff, 93px 414px #fff,
    1024px 1497px #fff, 428px 522px #fff, 276px 1012px #fff, 1053px 1413px #fff,
    203px 1202px #fff, 790px 605px #fff, 409px 1427px #fff, 967px 1775px #fff,
    1534px 1063px #fff, 176px 908px #fff, 1459px 1994px #fff, 881px 923px #fff,
    306px 265px #fff, 907px 111px #fff, 1587px 1755px #fff, 1255px 333px #fff,
    1356px 42px #fff, 810px 1599px #fff, 1822px 1404px #fff, 1079px 1726px #fff,
    926px 1194px #fff, 1525px 1455px #fff, 708px 1821px #fff, 885px 180px #fff,
    1765px 645px #fff, 1964px 758px #fff, 442px 1761px #fff, 210px 1859px #fff,
    497px 1951px #fff, 127px 792px #fff, 1481px 154px #fff, 1807px 1627px #fff,
    768px 900px #fff, 1934px 808px #fff, 1154px 692px #fff, 1970px 1809px #fff,
    1161px 631px #fff, 65px 1841px #fff, 1268px 30px #fff, 1865px 586px #fff,
    1238px 1625px #fff, 651px 1052px #fff, 1721px 508px #fff, 1257px 642px #fff,
    521px 1511px #fff, 1992px 1998px #fff, 1986px 677px #fff, 1074px 1136px #fff,
    328px 873px #fff, 967px 1737px #fff, 1544px 1646px #fff, 203px 401px #fff,
    121px 489px #fff, 1980px 880px #fff, 1237px 109px #fff, 1390px 681px #fff,
    963px 391px #fff, 1784px 1131px #fff, 1717px 351px #fff, 1178px 485px #fff,
    1567px 1206px #fff, 1325px 913px #fff, 1701px 508px #fff, 1804px 1376px #fff,
    81px 132px #fff, 466px 658px #fff, 1066px 357px #fff, 1545px 28px #fff,
    246px 804px #fff, 860px 1374px #fff, 1729px 623px #fff, 1921px 1466px #fff,
    67px 286px #fff, 960px 341px #fff, 1355px 1941px #fff, 593px 81px #fff,
    124px 231px #fff, 992px 1714px #fff, 196px 1667px #fff, 1915px 916px #fff,
    272px 361px #fff, 1393px 1290px #fff, 943px 1699px #fff, 743px 1326px #fff,
    436px 229px #fff, 1371px 900px #fff, 1446px 1275px #fff, 35px 1137px #fff,
    223px 1323px #fff, 1767px 381px #fff, 1532px 1007px #fff, 2000px 1110px #fff,
    1727px 1243px #fff, 867px 307px #fff, 893px 1665px #fff, 1215px 765px #fff,
    25px 73px #fff, 32px 422px #fff, 218px 945px #fff, 1595px 1744px #fff,
    1085px 520px #fff, 1284px 910px #fff, 424px 652px #fff, 1524px 555px #fff,
    516px 344px #fff, 1950px 740px #fff, 983px 910px #fff, 1448px 935px #fff,
    592px 1925px #fff, 1784px 947px #fff, 845px 211px #fff, 219px 1062px #fff,
    281px 1536px #fff, 307px 1623px #fff, 288px 1953px #fff, 265px 769px #fff,
    1695px 1946px #fff, 785px 90px #fff, 1315px 808px #fff, 1591px 1721px #fff,
    494px 1631px #fff, 1339px 278px #fff, 1924px 384px #fff, 1819px 225px #fff,
    1559px 1552px #fff, 1604px 1684px #fff, 832px 1438px #fff, 876px 326px #fff,
    1082px 1709px #fff, 1207px 788px #fff, 886px 545px #fff, 1540px 712px #fff,
    271px 814px #fff, 1458px 374px #fff, 218px 902px #fff, 343px 1193px #fff,
    297px 845px #fff, 251px 105px #fff, 1015px 673px #fff, 1378px 1942px #fff,
    248px 1865px #fff, 127px 481px #fff, 1578px 1448px #fff, 1132px 369px #fff,
    863px 213px #fff, 1636px 343px #fff, 365px 795px #fff, 1045px 715px #fff,
    1858px 527px #fff, 1753px 857px #fff, 459px 904px #fff, 644px 802px #fff,
    743px 1080px #fff, 127px 206px #fff, 1777px 922px #fff, 1655px 1831px #fff,
    1083px 1040px #fff, 798px 779px #fff, 1167px 1864px #fff, 1140px 1026px #fff,
    300px 1507px #fff, 702px 1904px #fff, 1644px 826px #fff, 292px 539px #fff,
    1300px 1571px #fff, 1699px 1367px #fff, 362px 23px #fff, 1313px 1281px #fff,
    409px 572px #fff, 211px 234px #fff, 987px 1608px #fff, 323px 279px #fff,
    1243px 779px #fff, 1552px 1660px #fff, 370px 749px #fff, 1213px 1654px #fff,
    355px 1737px #fff, 827px 1807px #fff, 255px 34px #fff, 284px 1362px #fff,
    560px 769px #fff, 382px 610px #fff, 1503px 247px #fff, 187px 1677px #fff,
    1239px 921px #fff, 932px 1210px #fff, 1896px 547px #fff, 773px 450px #fff,
    1954px 2px #fff, 196px 637px #fff, 1172px 1324px #fff, 1853px 1980px #fff,
    307px 1201px #fff, 570px 673px #fff, 640px 789px #fff, 1380px 771px #fff,
    1481px 1233px #fff, 1482px 448px #fff, 1563px 99px #fff, 1761px 1356px #fff,
    1265px 16px #fff, 131px 3px #fff, 1008px 15px #fff, 1173px 794px #fff,
    1916px 727px #fff, 1402px 1064px #fff, 353px 1974px #fff, 1798px 1544px #fff,
    451px 1354px #fff, 440px 292px #fff, 228px 438px #fff, 428px 885px #fff,
    1536px 1792px #fff, 1497px 839px #fff, 1064px 736px #fff, 637px 156px #fff,
    351px 846px #fff, 1838px 1451px #fff, 1773px 708px #fff, 636px 1838px #fff,
    1171px 198px #fff, 1903px 1114px #fff, 701px 791px #fff, 1340px 1589px #fff,
    1573px 604px #fff, 35px 331px #fff, 1665px 503px #fff, 1769px 1163px #fff,
    1516px 652px #fff, 1836px 45px #fff, 186px 1630px #fff, 1304px 1144px #fff,
    1497px 1547px #fff, 685px 614px #fff, 1192px 295px #fff, 1297px 127px #fff,
    1501px 476px #fff, 388px 1545px #fff, 1480px 1216px #fff, 1350px 1097px #fff,
    1419px 1435px #fff, 166px 588px #fff, 1477px 122px #fff, 934px 1159px #fff,
    117px 381px #fff, 1613px 1264px #fff, 390px 815px #fff, 586px 1609px #fff,
    1440px 995px #fff, 1714px 1313px #fff, 1141px 211px #fff, 1502px 1438px #fff,
    455px 119px #fff, 1282px 1227px #fff, 1013px 1342px #fff, 1894px 88px #fff,
    1032px 1999px #fff, 1629px 1774px #fff, 371px 1405px #fff, 112px 768px #fff,
    1430px 693px #fff, 748px 275px #fff, 1911px 1564px #fff, 824px 1197px #fff,
    537px 1037px #fff, 1392px 469px #fff, 1672px 795px #fff, 1891px 1981px #fff,
    958px 544px #fff, 4px 552px #fff, 932px 463px #fff, 531px 1108px #fff,
    759px 913px #fff, 1673px 1473px #fff, 710px 1623px #fff, 909px 484px #fff,
    645px 1798px #fff, 404px 284px #fff, 1191px 1480px #fff, 426px 383px #fff,
    895px 1370px #fff, 919px 1263px #fff, 480px 1454px #fff, 220px 374px #fff,
    909px 1827px #fff, 97px 1818px #fff, 318px 1004px #fff, 1079px 570px #fff,
    336px 251px #fff, 1946px 1503px #fff, 984px 1121px #fff, 336px 389px #fff,
    760px 1605px #fff, 7px 739px #fff, 226px 413px #fff, 1445px 1559px #fff,
    1092px 63px #fff, 484px 357px #fff, 809px 166px #fff, 1211px 618px #fff,
    1932px 894px #fff, 369px 906px #fff, 1419px 1676px #fff, 465px 1832px #fff,
    29px 908px #fff, 50px 1509px #fff, 423px 1567px #fff, 375px 1911px #fff,
    1295px 130px #fff, 418px 637px #fff, 206px 1865px #fff, 186px 1059px #fff,
    1866px 868px #fff, 749px 1696px #fff, 474px 1864px #fff, 863px 325px #fff,
    379px 583px #fff, 1527px 485px #fff, 1108px 50px #fff, 1899px 1661px #fff,
    24px 747px #fff, 415px 678px #fff, 1085px 1635px #fff, 897px 1898px #fff,
    1678px 181px #fff, 1729px 23px #fff, 1373px 1934px #fff, 1677px 1938px #fff,
    421px 1042px #fff, 833px 1065px #fff, 1918px 742px #fff, 154px 605px #fff,
    1485px 1012px #fff, 215px 840px #fff, 92px 420px #fff, 709px 50px #fff,
    1527px 1695px #fff, 652px 61px #fff, 727px 1007px #fff, 1200px 905px #fff,
    772px 424px #fff, 1338px 1676px #fff, 924px 917px #fff, 980px 1742px #fff,
    1826px 1993px #fff, 1518px 1296px #fff, 355px 153px #fff, 309px 686px #fff,
    840px 1657px #fff, 1543px 1095px #fff, 81px 1012px #fff, 508px 204px #fff,
    1804px 434px #fff, 274px 896px #fff, 1982px 1875px #fff, 661px 1468px #fff,
    1745px 1860px #fff, 100px 1898px #fff, 1752px 180px #fff, 1940px 603px #fff,
    1494px 938px #fff, 435px 1108px #fff, 1377px 268px #fff, 1859px 1626px #fff,
    1082px 597px #fff, 980px 725px #fff, 1009px 156px #fff, 338px 383px #fff,
    378px 1851px #fff, 226px 1645px #fff, 1882px 230px #fff, 240px 1227px #fff,
    1275px 1624px #fff, 1983px 1471px #fff, 1814px 244px #fff,
    1403px 1184px #fff, 699px 1109px #fff, 66px 1800px #fff, 1432px 1343px #fff,
    1812px 1530px #fff, 214px 251px #fff, 1729px 40px #fff, 1134px 1355px #fff,
    1952px 618px #fff, 1709px 75px #fff, 1888px 227px #fff, 82px 717px #fff,
    1638px 235px #fff, 524px 1675px #fff, 1050px 927px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 984px 1689px #fff, 1155px 1186px #fff, 1914px 1903px #fff,
    1765px 257px #fff, 1266px 249px #fff, 67px 940px #fff, 738px 1818px #fff,
    613px 88px #fff, 244px 404px #fff, 1052px 523px #fff, 1949px 380px #fff,
    231px 1973px #fff, 1423px 532px #fff, 1099px 565px #fff, 1855px 1148px #fff,
    798px 9px #fff, 286px 359px #fff, 823px 594px #fff, 1562px 292px #fff,
    842px 354px #fff, 888px 1337px #fff, 403px 1045px #fff, 928px 528px #fff,
    1450px 576px #fff, 941px 886px #fff, 484px 179px #fff, 315px 1408px #fff,
    1970px 1935px #fff, 682px 561px #fff, 993px 1181px #fff, 1461px 1217px #fff,
    1573px 1988px #fff, 1654px 1302px #fff, 229px 1656px #fff, 1508px 212px #fff,
    570px 1256px #fff, 565px 709px #fff, 1490px 1434px #fff, 1951px 237px #fff,
    823px 725px #fff, 1744px 269px #fff, 1985px 408px #fff, 1730px 242px #fff,
    56px 1332px #fff, 1517px 589px #fff, 1712px 15px #fff, 571px 1604px #fff,
    1842px 1938px #fff, 1403px 1915px #fff, 1625px 1312px #fff,
    1084px 1699px #fff, 1277px 1731px #fff, 909px 286px #fff, 1116px 1288px #fff,
    727px 1360px #fff, 1904px 1082px #fff, 1208px 391px #fff, 880px 762px #fff,
    52px 1791px #fff, 240px 414px #fff, 940px 1402px #fff, 1051px 1050px #fff,
    1613px 353px #fff, 1934px 1081px #fff, 1668px 1070px #fff, 85px 1856px #fff,
    1859px 702px #fff, 508px 17px #fff, 579px 28px #fff, 1589px 1987px #fff,
    979px 1847px #fff, 1729px 681px #fff, 313px 8px #fff, 976px 1339px #fff,
    691px 1431px #fff, 1478px 1062px #fff, 1797px 1277px #fff, 635px 1070px #fff,
    188px 1057px #fff, 75px 638px #fff, 175px 426px #fff, 1991px 1243px #fff,
    1274px 467px #fff, 491px 1659px #fff, 1078px 1490px #fff, 1551px 287px #fff,
    841px 134px #fff, 192px 260px #fff, 485px 33px #fff, 45px 1755px #fff,
    821px 224px #fff, 1170px 811px #fff, 17px 1117px #fff, 1715px 1401px #fff,
    634px 156px #fff, 1111px 748px #fff, 1377px 814px #fff, 1430px 1244px #fff,
    228px 1052px #fff, 92px 684px #fff, 1003px 542px #fff, 1204px 1975px #fff,
    1790px 633px #fff, 660px 1392px #fff, 282px 1508px #fff, 1295px 1789px #fff,
    251px 389px #fff, 685px 256px #fff, 1292px 78px #fff, 437px 557px #fff,
    1339px 521px #fff, 704px 524px #fff, 1680px 1678px #fff, 922px 1733px #fff,
    989px 304px #fff, 1659px 1344px #fff, 1714px 1294px #fff, 1930px 1017px #fff,
    677px 564px #fff, 426px 1358px #fff, 724px 1488px #fff, 184px 1808px #fff,
    1235px 404px #fff, 1439px 1662px #fff, 852px 137px #fff, 1739px 1496px #fff,
    1539px 1850px #fff, 635px 725px #fff, 656px 47px #fff, 1065px 876px #fff,
    1754px 449px #fff, 1880px 1138px #fff, 1230px 1802px #fff,
    1703px 1265px #fff, 223px 597px #fff, 1054px 606px #fff, 118px 1681px #fff,
    1368px 1389px #fff, 1587px 1717px #fff, 1144px 1661px #fff, 956px 866px #fff,
    1992px 52px #fff, 1732px 543px #fff, 1125px 1470px #fff, 1200px 620px #fff,
    85px 1487px #fff, 887px 451px #fff, 373px 568px #fff, 1816px 1780px #fff,
    235px 1115px #fff, 157px 1037px #fff, 1294px 551px #fff, 95px 1542px #fff,
    529px 1674px #fff, 737px 1793px #fff, 1079px 1547px #fff, 1970px 967px #fff,
    267px 539px #fff, 1315px 1990px #fff, 367px 1580px #fff, 1729px 996px #fff,
    542px 1393px #fff, 1427px 339px #fff, 1147px 1104px #fff, 1444px 1555px #fff,
    1330px 1674px #fff, 637px 1834px #fff, 749px 297px #fff, 645px 1561px #fff,
    32px 1775px #fff, 1395px 458px #fff, 89px 169px #fff, 651px 1554px #fff,
    1256px 630px #fff, 52px 283px #fff, 1575px 448px #fff, 1857px 1556px #fff,
    198px 990px #fff, 1753px 33px #fff, 897px 1458px #fff, 518px 206px #fff,
    766px 527px #fff, 1215px 341px #fff, 1631px 98px #fff, 86px 349px #fff,
    509px 1106px #fff, 1542px 257px #fff, 1955px 1110px #fff, 861px 876px #fff,
    234px 1069px #fff, 1667px 1383px #fff, 163px 1525px #fff, 1382px 371px #fff,
    397px 1713px #fff, 273px 313px #fff, 1091px 1970px #fff, 1926px 548px #fff,
    374px 224px #fff, 1606px 153px #fff, 65px 892px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 984px 1689px #fff, 1155px 1186px #fff, 1914px 1903px #fff,
    1765px 257px #fff, 1266px 249px #fff, 67px 940px #fff, 738px 1818px #fff,
    613px 88px #fff, 244px 404px #fff, 1052px 523px #fff, 1949px 380px #fff,
    231px 1973px #fff, 1423px 532px #fff, 1099px 565px #fff, 1855px 1148px #fff,
    798px 9px #fff, 286px 359px #fff, 823px 594px #fff, 1562px 292px #fff,
    842px 354px #fff, 888px 1337px #fff, 403px 1045px #fff, 928px 528px #fff,
    1450px 576px #fff, 941px 886px #fff, 484px 179px #fff, 315px 1408px #fff,
    1970px 1935px #fff, 682px 561px #fff, 993px 1181px #fff, 1461px 1217px #fff,
    1573px 1988px #fff, 1654px 1302px #fff, 229px 1656px #fff, 1508px 212px #fff,
    570px 1256px #fff, 565px 709px #fff, 1490px 1434px #fff, 1951px 237px #fff,
    823px 725px #fff, 1744px 269px #fff, 1985px 408px #fff, 1730px 242px #fff,
    56px 1332px #fff, 1517px 589px #fff, 1712px 15px #fff, 571px 1604px #fff,
    1842px 1938px #fff, 1403px 1915px #fff, 1625px 1312px #fff,
    1084px 1699px #fff, 1277px 1731px #fff, 909px 286px #fff, 1116px 1288px #fff,
    727px 1360px #fff, 1904px 1082px #fff, 1208px 391px #fff, 880px 762px #fff,
    52px 1791px #fff, 240px 414px #fff, 940px 1402px #fff, 1051px 1050px #fff,
    1613px 353px #fff, 1934px 1081px #fff, 1668px 1070px #fff, 85px 1856px #fff,
    1859px 702px #fff, 508px 17px #fff, 579px 28px #fff, 1589px 1987px #fff,
    979px 1847px #fff, 1729px 681px #fff, 313px 8px #fff, 976px 1339px #fff,
    691px 1431px #fff, 1478px 1062px #fff, 1797px 1277px #fff, 635px 1070px #fff,
    188px 1057px #fff, 75px 638px #fff, 175px 426px #fff, 1991px 1243px #fff,
    1274px 467px #fff, 491px 1659px #fff, 1078px 1490px #fff, 1551px 287px #fff,
    841px 134px #fff, 192px 260px #fff, 485px 33px #fff, 45px 1755px #fff,
    821px 224px #fff, 1170px 811px #fff, 17px 1117px #fff, 1715px 1401px #fff,
    634px 156px #fff, 1111px 748px #fff, 1377px 814px #fff, 1430px 1244px #fff,
    228px 1052px #fff, 92px 684px #fff, 1003px 542px #fff, 1204px 1975px #fff,
    1790px 633px #fff, 660px 1392px #fff, 282px 1508px #fff, 1295px 1789px #fff,
    251px 389px #fff, 685px 256px #fff, 1292px 78px #fff, 437px 557px #fff,
    1339px 521px #fff, 704px 524px #fff, 1680px 1678px #fff, 922px 1733px #fff,
    989px 304px #fff, 1659px 1344px #fff, 1714px 1294px #fff, 1930px 1017px #fff,
    677px 564px #fff, 426px 1358px #fff, 724px 1488px #fff, 184px 1808px #fff,
    1235px 404px #fff, 1439px 1662px #fff, 852px 137px #fff, 1739px 1496px #fff,
    1539px 1850px #fff, 635px 725px #fff, 656px 47px #fff, 1065px 876px #fff,
    1754px 449px #fff, 1880px 1138px #fff, 1230px 1802px #fff,
    1703px 1265px #fff, 223px 597px #fff, 1054px 606px #fff, 118px 1681px #fff,
    1368px 1389px #fff, 1587px 1717px #fff, 1144px 1661px #fff, 956px 866px #fff,
    1992px 52px #fff, 1732px 543px #fff, 1125px 1470px #fff, 1200px 620px #fff,
    85px 1487px #fff, 887px 451px #fff, 373px 568px #fff, 1816px 1780px #fff,
    235px 1115px #fff, 157px 1037px #fff, 1294px 551px #fff, 95px 1542px #fff,
    529px 1674px #fff, 737px 1793px #fff, 1079px 1547px #fff, 1970px 967px #fff,
    267px 539px #fff, 1315px 1990px #fff, 367px 1580px #fff, 1729px 996px #fff,
    542px 1393px #fff, 1427px 339px #fff, 1147px 1104px #fff, 1444px 1555px #fff,
    1330px 1674px #fff, 637px 1834px #fff, 749px 297px #fff, 645px 1561px #fff,
    32px 1775px #fff, 1395px 458px #fff, 89px 169px #fff, 651px 1554px #fff,
    1256px 630px #fff, 52px 283px #fff, 1575px 448px #fff, 1857px 1556px #fff,
    198px 990px #fff, 1753px 33px #fff, 897px 1458px #fff, 518px 206px #fff,
    766px 527px #fff, 1215px 341px #fff, 1631px 98px #fff, 86px 349px #fff,
    509px 1106px #fff, 1542px 257px #fff, 1955px 1110px #fff, 861px 876px #fff,
    234px 1069px #fff, 1667px 1383px #fff, 163px 1525px #fff, 1382px 371px #fff,
    397px 1713px #fff, 273px 313px #fff, 1091px 1970px #fff, 1926px 548px #fff,
    374px 224px #fff, 1606px 153px #fff, 65px 892px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 747px 1260px #fff, 1168px 707px #fff, 61px 939px #fff,
    1990px 842px #fff, 1875px 1294px #fff, 110px 1478px #fff, 663px 1733px #fff,
    1445px 1700px #fff, 847px 1978px #fff, 1685px 116px #fff, 371px 1905px #fff,
    1177px 1479px #fff, 340px 1853px #fff, 726px 83px #fff, 1982px 890px #fff,
    1117px 59px #fff, 485px 1807px #fff, 769px 1743px #fff, 1947px 531px #fff,
    1963px 1815px #fff, 1434px 587px #fff, 195px 1537px #fff, 317px 1990px #fff,
    129px 1707px #fff, 33px 1682px #fff, 1690px 1877px #fff, 156px 1291px #fff,
    1835px 847px #fff, 745px 843px #fff, 1870px 957px #fff, 290px 216px #fff,
    1669px 1015px #fff, 1573px 929px #fff, 443px 213px #fff, 689px 1889px #fff,
    1683px 894px #fff, 1665px 1883px #fff, 846px 515px #fff, 1988px 825px #fff,
    1390px 1273px #fff, 573px 1929px #fff, 540px 917px #fff, 1700px 808px #fff,
    721px 708px #fff, 311px 354px #fff, 492px 1231px #fff, 201px 774px #fff,
    366px 1001px #fff, 898px 1460px #fff, 327px 1457px #fff, 352px 1170px #fff,
    1836px 1978px #fff, 958px 1035px #fff, 1930px 1252px #fff, 39px 920px #fff,
    523px 1853px #fff, 1014px 1224px #fff, 1674px 1599px #fff, 220px 1062px #fff,
    1930px 1757px #fff, 958px 589px #fff, 29px 1419px #fff, 889px 1056px #fff,
    991px 1814px #fff, 1266px 1339px #fff, 1401px 1634px #fff, 1120px 735px #fff,
    926px 451px #fff, 135px 1073px #fff, 368px 291px #fff, 369px 49px #fff,
    1860px 1408px #fff, 213px 1667px #fff, 1017px 38px #fff, 1726px 1005px #fff,
    552px 155px #fff, 1427px 1582px #fff, 1203px 1399px #fff, 584px 1010px #fff,
    1197px 551px #fff, 1822px 1140px #fff, 1198px 596px #fff, 1437px 1586px #fff,
    155px 1595px #fff, 1344px 722px #fff, 952px 863px #fff, 722px 1876px #fff,
    1809px 1208px #fff, 413px 9px #fff, 1695px 433px #fff, 1265px 1152px #fff,
    979px 1449px #fff, 1046px 1867px #fff, 106px 293px #fff, 1708px 854px #fff,
    258px 171px #fff, 1120px 352px #fff, 1383px 502px #fff, 648px 977px #fff,
    1442px 1931px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 747px 1260px #fff, 1168px 707px #fff, 61px 939px #fff,
    1990px 842px #fff, 1875px 1294px #fff, 110px 1478px #fff, 663px 1733px #fff,
    1445px 1700px #fff, 847px 1978px #fff, 1685px 116px #fff, 371px 1905px #fff,
    1177px 1479px #fff, 340px 1853px #fff, 726px 83px #fff, 1982px 890px #fff,
    1117px 59px #fff, 485px 1807px #fff, 769px 1743px #fff, 1947px 531px #fff,
    1963px 1815px #fff, 1434px 587px #fff, 195px 1537px #fff, 317px 1990px #fff,
    129px 1707px #fff, 33px 1682px #fff, 1690px 1877px #fff, 156px 1291px #fff,
    1835px 847px #fff, 745px 843px #fff, 1870px 957px #fff, 290px 216px #fff,
    1669px 1015px #fff, 1573px 929px #fff, 443px 213px #fff, 689px 1889px #fff,
    1683px 894px #fff, 1665px 1883px #fff, 846px 515px #fff, 1988px 825px #fff,
    1390px 1273px #fff, 573px 1929px #fff, 540px 917px #fff, 1700px 808px #fff,
    721px 708px #fff, 311px 354px #fff, 492px 1231px #fff, 201px 774px #fff,
    366px 1001px #fff, 898px 1460px #fff, 327px 1457px #fff, 352px 1170px #fff,
    1836px 1978px #fff, 958px 1035px #fff, 1930px 1252px #fff, 39px 920px #fff,
    523px 1853px #fff, 1014px 1224px #fff, 1674px 1599px #fff, 220px 1062px #fff,
    1930px 1757px #fff, 958px 589px #fff, 29px 1419px #fff, 889px 1056px #fff,
    991px 1814px #fff, 1266px 1339px #fff, 1401px 1634px #fff, 1120px 735px #fff,
    926px 451px #fff, 135px 1073px #fff, 368px 291px #fff, 369px 49px #fff,
    1860px 1408px #fff, 213px 1667px #fff, 1017px 38px #fff, 1726px 1005px #fff,
    552px 155px #fff, 1427px 1582px #fff, 1203px 1399px #fff, 584px 1010px #fff,
    1197px 551px #fff, 1822px 1140px #fff, 1198px 596px #fff, 1437px 1586px #fff,
    155px 1595px #fff, 1344px 722px #fff, 952px 863px #fff, 722px 1876px #fff,
    1809px 1208px #fff, 413px 9px #fff, 1695px 433px #fff, 1265px 1152px #fff,
    979px 1449px #fff, 1046px 1867px #fff, 106px 293px #fff, 1708px 854px #fff,
    258px 171px #fff, 1120px 352px #fff, 1383px 502px #fff, 648px 977px #fff,
    1442px 1931px #fff;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
